<div class="container">
  <form (ngSubmit) = "onSubmit()" #f = "ngForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text"
             class="form-control"
             id="username"
             ngModel
             name="username"
             required>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text"
             class="form-control"
             value="emailValue"
             id="email"
             ngModel
             name="email"
             required
             email
             #email = "ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Enter a valid email</span>
    </div>

    <div class="form-group">
      <label>Gender</label>
      <select class="form-control"
              id="gender"
              [ngModel] = defaultGender
              name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <input class="form-control" type="text" name="color" [(ngModel)]="color">
    <span>Your favorite color: {{color}}</span>
    <button type="submit"
            class="btn btn-primary"
            [disabled] = "!f.valid">Submit</button>
  </form>
</div>
