<div class="container">
<!--  <form (ngSubmit) = "onSubmit()" #f = "ngForm" ngModelGroup="groupUser" #group="ngModelGroup">-->
    <form (ngSubmit) = "onSubmit()" #f = "ngForm">
    <div ngModelGroup = "groupUser" #group1 = "ngModelGroup">
      <div class="form-group">
        <label>Username</label>
        <input type="text"
               class="form-control"
               id="username"
               ngModel
               name="username"
               required
               #username = "ngModel">
        <span class="help-block" *ngIf="formValid && !username.valid">Enter a valid Username</span>
<!--        <span class="help-block" *ngIf="formValid">Enter a valid Username</span>-->
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text"
               class="form-control"
               value="emailValue"
               id="email"
               ngModel
               name="email"
               required
               email
               #email = "ngModel">
                <span class="help-block" *ngIf="formValid && !email.valid">Enter a valid Email</span>
      </div>
    </div>

    <div class="form-group">
      <label>Gender</label>
      <select class="form-control"
              id="gender"
              [ngModel] = defaultGender
              name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <input class="form-control" type="text" name="color" [(ngModel)]="color">
    <span>Your favorite color: {{color}}</span>
    <button type="submit"
            class="btn btn-primary"
            [disabled] = "!f.dirty">Submit</button>
  </form>
</div>
