<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
    <h2>اطلاعات</h2>
    <form>
        <div class="form-group row">
            <div class="col-xs-2">
                <label for="ex1">تیم مورد علاقه</label>
                <button class="form-control" type="button" data-toggle="dropdown">انتخاب کنید...
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>پرسپولیس</li>
                    <li>استقلال</li>
                    <li>سپاهان</li>
                    <li>تراکتور</li>
                    <li>سایر تیم ها</li>
                </ul>
            </div>
            <div class="col-xs-2">
                <label for="ex1">شماره موبایل</label>
                <input class="form-control" id="ex1" type="text">
            </div>
            <div class="col-xs-3">
                <label for="ex2">نام</label>
                <input class="form-control" id="ex2" type="text">
            </div>

        </div>
    </form>
</div>

